# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
penguin.iml
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Penguin/v15/.suo
/.vs/config/applicationhost.config
