.column {
    font-size: large;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hoverWrapper:hover #hoverShow1 {
    display: block;
}

.hoverWrapper #hoverShow1 {
    display: none;
    width: 250px;
    height: 100px;
    left: 200px;
    top: 100px;
}